<ul>
  <% bookings.each do |booking| %>
  <% if booking.service.date < Date.today %>
  <li>
    <div id="booking-full">
      <div id="booking-photo">
        <%= cl_image_tag booking.service.picture, height: 120, width: 280, crop: :fill, :effect=>"saturation:-100" %>      </div>
      <div id="booking-content">
        Menu - <%=link_to "#{booking.service.menu_name}", booking%> <br>
        Votre addresse de réservation - <%= booking.place %> <br>
        Le <%= booking.service.date %> <br>
      </div>
    </div>
    <% end %>
    <% end %>
  </li>
</ul>
