<ul>
  <% bookings.each do |booking| %>

      <li>
        <%= cl_image_tag booking.service.picture, height: 120, width: 280, crop: :fill, :effect=>"saturation:-100" %>
        <%=link_to "#{booking.service.menu_name}", booking%>
        Votre addresse de réservation
        <%= link_to "delete", booking_path(booking),
        method: :delete,
        data: { confirm: "are you sure ?"}  %>

  <% end %>
    </li>
</ul>
