<div class="container">
  <div class="bookings-list">
    <h1>Mes reservations à venir</h1>
    <div class="booking-cards">
      <!-- Avec render j'appelle mon partial qui affiche mes bookings-->
      <%= render "bookings_list", bookings: @bookings %>
      <!-- il faudra ajouter le bouton delete link to -->
    </div>
  </div>
</div>

<div class="container">
  <div class="bookings-list">
    <h1>Mon historique</h1>
    <div class="history-cards">
      <!-- Avec render j'appelle mon partial qui affiche mes bookings-->
      <%= render "history_list", bookings: @bookings %>
      <!-- il faudra ajouter le bouton delete link to -->
    </div>
  </div>
</div>
