.services-container {
  text-align: center;

  margin-top: 15px;

  padding: 0;

}

.flex-container {
  display: flex;
  justify-content: space-between;

}

.background-white {
  background-color: #ffffff;
}

#banner {
  color: black;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

}

.card-container {
  margin: auto ;
  position: relative;
  width: 700px;
  text-align: center;
}



.menu-name{
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 150px;
  color: white;
  font-size: 50px;
}

h4{
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-info {
  border-top: 1px dashed #e0e0e0;
  margin: 30px;
  text-align: center;
  p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

#reservation {
  flex: 0 0 20%;
}
