.container {
  text-align: center;
  background-color: #ffffff;
  margin-top: 15px;
  width: 700px;
  padding: 0;

}

#banner {
  color: black;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
