.container {
  text-align: center;
  background-color: #ffffff;
  margin-top: 15px;
  width: 700px;
  padding: 0;

}

#banner {
  color: black;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-container {
  margin: auto ;
  position: relative;
  width: 700px;
  text-align: center;
}

.button-delete{
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  position: absolute;
  top: 10px;
  left: 550px;
  color: white;
}

.menu-name{
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 250px;
  color: white;
  font-size: 50px;
}

h4{
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-info {
  border-top: 1px dashed #e0e0e0;
  margin: 30px;
  text-align: center;
  p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

