<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.campusfrance.org/sites/default/files/styles/mobile_visuel_principal_page/public/medias/images/2017-09/ETUD_4_gastronomie.jpg?itok=5G72Z_bm');">
  <div class="banner-content">
    <h1>Chef au top</h1>
    <p>Chef à domicile</p>

    </a>
  </div>
</div>
<%= link_to "+ aller à l'index des services", services_path %>
