<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'photo-acceuil.jpg', height: 300, width: 400, crop: :fill %>')">

  <div class="banner-content">
    <h1>Chef au top</h1>
    <p>Partout en France, nous cuisinons chez vous</p>
    <%= form_tag services_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "type de cuisine"
    %>
    <% end %>
  </a>
</div>
</div>

<div>
<h3>Découvrez les derniers menus de nos chefs</h3>
</div>

<div class="container">
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
<%= link_to "Je découvre", services_path, class: "home-button" %>

</div>
</div>

