
html {
  background: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#top_title {
  margin-bottom: 55px;
  background-color: $light-gray;
  margin-top: 0px;
  text-align: center;
  h1{
    padding: 30px 0 0 0;
  }
}


.subtle {
  color: white;
  font-size: 25px !important;
  // font-weight: bold;
}

.index-container {

  background-color: red;
}

.card-container {
  margin: auto ;
  position: relative;
  width: 38%;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.chef {
  border-radius: 50%;
}

.card-body {
   width: 700px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;

  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 30px;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  text-align: center;
  font-weight: 300;
  line-height: 12px;
  margin: 10px 0;
  width: 700px;
  margin-bottom: 60px;

  // box-shadow: 0px 2px 2px #767777;

    a {
      color: #2a2c30;
      opacity: 0.8;
      text-decoration: none;
      padding: auto 5px ;
    }
    a:hover {
      opacity: 1;
    }

}

.button-delete{
  color: white !important;
  border-radius: 50%;
  border: 2px solid white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  opacity: 1;
  &:hover {
    color: white!important;;
    text-decoration: none;
    opacity: 0.8;
    font-weight: bolder;
  }
  a {
      color: white!important;;
    text-decoration: none;
    opacity: 0.8;
    font-weight: bolder;
    font-size: 25px;
}
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}


.card-media {
  // float: right;
  height: 200px;
  width: 100%;

}

.little-container {
  margin-bottom: 15px;
}
.little-container-index {
  margin-bottom: 0px;
}

.card-info{
  font-size: 14px;
  height: 45px;
}

.card-info-index-available{
  font-size: 14px;
  height: 45px;
  color: #5faf59;
}

.card-info-index-unavailable{
  font-size: 14px;
  height: 45px;
  color: red;
}




.card-footer {
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: #3d3d3d;
  }
}


.service-title {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: black;

}

.service-title-index {
    background-color: white;
    padding: 10px 10px 30px 10px;
    width: 100%;
    border-radius: 5px;
    color: black;

}

.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}
